@import 
url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-repeat:no-repeat;
	background-size:cover;

	background-attachment: fixed;
	
	font-family:'Ubuntu', sans-serif;
	line-height:20px;
}

.ulti {
	width: 90%;
	margin:auto;
}

article {
	background:#165784e6;
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px #00000040;
}

.boton1 {
	cursor: pointer;
	margin-left: 45%;
	font-family: 'Ubuntu', sans-serif;
	color: white; 
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 4px;
	font-size: 20px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}

.boton1:hover {
	background: #2b90d5;
	box-shadow: 0 0 10px #2b90d5, 0 0 40px #2b90d5, 0 0 80px #2b90d5;
}

img{
	text-align: center;
	}